* {
	box-sizing: border-box;
}
body {
	/* border: 1px solid maroon; */
	max-width: 900px;
	margin: 0 auto;
}
.header {
	background-color: black;
	/* border: 10px solid yellow; */
	color: white;
	width: 100%;
	max-width: inherit;
	position: fixed;
}
.logo {
	margin: 0.4em 2em;
}
.fa {
	transform: scale(2, 2);
	margin: 1.3em 2em;
	position: absolute;
	top: 0;
	right: 0;
}
.menu {
	position: absolute;
	/* border: 10px solid yellow; */
	background-color: black;
	width: 100%;
	transform: scale(1, 0);
}
.menu-icon {
	display: none;
}
.menu ul {
	list-style: none;
	margin: 0;
}
.menu ul li {
	margin: 1em 0;
}
.menu ul li a {
	color: white;
	text-decoration: none;
}
.menu-icon:checked ~ .menu {
	transform: scale(1, 1);
}
